.outer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#6c757d;
    width:100%;
    margin-top:-2rem;


}
.btn{
    padding:1rem 2rem;
    color:white;
    border-color:#4688f2;
    margin:2rem;
    background:none;
    font-size:1.5rem;
    
}
.playBtn{
    width:60px;
    height:60px;
    border-radius:50%;
    border:2px solid #4688f2;
    margin-bottom:1.5rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    
    border-left: 15px solid  #4688f2;
  }